.sector {
    margin: 15px;
}

.domain {
    color: var(--ion-color-grey-highest-contrast);
}

ion-card {
    border-radius : 12px;
    margin: 20px;

    ion-card-header {
        background-color: var(--ion-color-grey-low-contrast);
    }

    ion-button {
        --border-radius: 20px;
    }
}