<app-header
  [pageTitle]="'Statistiques'"
  [showBackButton]="false">
</app-header>

<ion-content [fullscreen]="true">
  <p>
    Ma filière : {{sector}}
  </p>
  
  @for(domain of domains; track $index) {
    <p>
      Domaine : {{domain.name}}
      <ion-button (click)="goToStatsDomain(domain.domainId, domain.name, $index)">Voir en détails</ion-button>
    </p>
  
    <p>
      Questions bien répondues : {{stats[$index].correct}} ({{(stats[$index].correct / stats[$index].total * 100) | number:'1.'}}%)
    </p>
    <p>
      Questions mal répondues : {{stats[$index].incorrect}} ({{(stats[$index].incorrect / stats[$index].total * 100) | number:'1.'}}%)
    </p>
    <p>
      Questions non découvertes : {{stats[$index].total - stats[$index].correct - stats[$index].incorrect}} 
      ({{((stats[$index].total - stats[$index].correct - stats[$index].incorrect) / stats[$index].total * 100) | number:'1.'}}%)
    </p>
    <p>
      Questions dans ce domaine : {{stats[$index].total}}
    </p>
  }
</ion-content>

<app-navbar/>