
    <app-header
    [pageTitle]="'Choix de la compétence'"
    [showBackButton]="true"
  ></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">skills</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>
    Domaine : {{domain}}
  </p>
  <p>
    Chapitre : {{chapter}}
  </p>

  <ion-list>
    @for(skill of skills; track $index) {
      @if(skill.isRelevant) {
        <ion-item>
          <ion-button (click)="startMCQ(skill.skillId)">{{skill.name}}</ion-button>
        </ion-item>
      }
    }
  </ion-list>

  <img [src]="domainsImageName">
</ion-content>
