<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>FAQ</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">faq</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for(header of headers; track $index) {
      <ion-item>
        <ion-button (click)="openText($index)">{{header}}</ion-button>
      </ion-item>
    }
  </ion-list>

  <p>
    Nombre de questions disponibles : {{questionCount}}
  </p>
</ion-content>