<app-header [pageTitle]="'FAQ'" [showBackButton]="true"/>

<ion-content [fullscreen]="true">
  <div class="faq-logo-container">
    <img class="faq-logo" src="assets/icons/fullLogo.png">
  </div>

  <ion-accordion-group expand="inset">
    @for(item of faq; track $index) {
      <ion-accordion toggleIcon="chevron-up-circle-outline">
        <ion-item class="faq-item" slot="header">
          <ion-label class="faq-label">{{item.title}}</ion-label>
        </ion-item>
        
        <div slot="content">
          @for(subitem of item.content; track subitem) {
            <div class="faq-subitem-title">
              {{subitem.title}}
            </div>

            @if(subitem.title != "") {
              <img class="faq-separator" src="assets/icons/separator.png">
            }

            <div class="faq-subitem-content">
              {{subitem.content}}
              @if(subitem.title == "Camille Ulrich") {
                <a (click)="openBrowser(camilleUlrich)">{{camilleUlrichShort}}</a>.
              }
            </div>
          }
        </div>
      </ion-accordion>
    }
  </ion-accordion-group>

  <div class="faq-buttons">
    <div class="faq-button">
      <ion-button href="mailto:{{mail}}?subject={{subject}}">
        Nous contacter
        <ion-icon slot="end" name="mail-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="faq-button">
      <ion-button (click)="openBrowser(site)">
        Notre site Internet
        <ion-icon slot="end" name="globe-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>

<app-navbar/>