<app-header [pageTitle]="'Score'" [showBackButton]="false"/>

<ion-content [fullscreen]="true">
  <div class="text-container">
    <div class="text">
      <div class="score">
        Score : {{score}}/{{mcqSize}}
      </div>

      <div class="message">
        {{message}}
      </div>  
    </div>
  </div>

  <div class="buttons-container">
    <ion-button (click)="retry()" class="side-button">Retravailler ce chapitre</ion-button>

    <ion-button (click)="backToMenu()" class="side-button">Retour au menu</ion-button>
  </div>

  <div class="image-container">
    <img [src]="scoreImageName">
  </div>
</ion-content>

<app-navbar/>