<app-header [pageTitle]="'Statistiques du domaine'" [showBackButton]="true"/>

<ion-content [fullscreen]="true">
  <div class="sector">
    Ma filière : {{sector}}
  </div>

  <ion-card>
    <ion-card-header [style]="'background-color: var(--ion-color-color' + domainId + ');'">
      <ion-card-title class="domain">{{domain}} : {{correct / (correct + incorrect + unseen) * 100 | number:'1.1-1'}} %</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <app-doughnut-chart [correct]="correct" [incorrect]="incorrect" [unseen]="unseen" [domainId]="domainId"/>
    </ion-card-content>
  </ion-card>

  @for(chapter of chapters; track $index) {
    <ion-card>
      <ion-card-header [style]="'background-color: var(--ion-color-color' + domainId + '-tint);'">
        <ion-card-title class="chapter">{{chapter.name}} : {{stats[$index].correct / (stats[$index].correct + stats[$index].incorrect + stats[$index].unseen) * 100 | number:'1.1-1'}} %</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <app-doughnut-chart [correct]="stats[$index].correct" [incorrect]="stats[$index].incorrect" [unseen]="stats[$index].unseen" [domainId]="domainId"/>
      </ion-card-content>
    </ion-card>
  }
</ion-content>

<app-navbar/>