.sector {
    margin: 15px;
}

.domain {
    color: var(--ion-color-grey-highest-contrast);
}

.chapter {
    color: var(--ion-color-grey-highest-contrast);
}

ion-card {
    border-radius: 12px;
    margin: 20px;
}