<app-header [pageTitle]="'Statistiques du domaine'" [showBackButton]="true"/>

<ion-content [fullscreen]="true">
  <p>
    Ma filière : {{sector}}
  </p>

  <p>
    Statistiques de : {{domain}}
  </p>

  <p>
    Questions bien répondues : {{correct}} ({{correct / total * 100 | number:'1.0-0'}}%)
  </p>

  <p>
    Question mal répondues : {{incorrect}} ({{incorrect / total * 100 | number:'1.0-0'}}%)
  </p>

  <p>
    Question non découvertes : {{total - correct - incorrect }} ({{(total - correct - incorrect) / total * 100 | number:'1.0-0'}}%)
  </p>

  <p>
    Questions dans ce domaine : {{total}}
  </p>

  @for(chapter of chapters; track $index) {
    <p>
      Chapitre : {{chapter.name}}
    </p>
  
    <p>
      Questions bien répondues : {{stats[$index].correct}} ({{(stats[$index].correct / stats[$index].total * 100) | number:'1.0-0'}}%)
    </p>
    <p>
      Questions mal répondues : {{stats[$index].incorrect}} ({{(stats[$index].incorrect / stats[$index].total * 100) | number:'1.0-0'}}%)
    </p>
    <p>
      Questions non découvertes : {{stats[$index].total - stats[$index].correct - stats[$index].incorrect}} 
      ({{((stats[$index].total - stats[$index].correct - stats[$index].incorrect) / stats[$index].total * 100) | number:'1.0-0'}}%)
    </p>
    <p>
      Questions dans ce chapitre : {{stats[$index].total}}
    </p>
  }
</ion-content>

<app-navbar/>