<app-header
  [pageTitle]="'Options'"
  [showBackButton]="false"
></app-header>


<ion-content>
  <div class="theme-switch">
    <div class="slider" [class.system]="themeMode === 'system'"
                        [class.light]="themeMode === 'light'"
                        [class.dark]="themeMode === 'dark'"></div>
  
    <button (click)="onThemeChange('system')">Système</button>
    <button (click)="onThemeChange('light')">Clair</button>
    <button (click)="onThemeChange('dark')">Sombre</button>
  </div>
  
  <ion-button (click)="goToFAQ()">FAQ</ion-button>

  <p>
    <ion-button href="mailto:{{mail}}?subject={{subject}}">
      Nous contacter
    </ion-button>
  </p>

  <p>
    <ion-button (click)="openBrowser(site)">
      Notre site Internet
    </ion-button>
  </p>

  <p>
    <ion-button (click)="openBrowser(facebook)">
      Notre page Facebook
    </ion-button>
  </p>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-navbar/>
  </ion-toolbar>
</ion-footer>