.sector {
    margin: 15px;
}

.options-container {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--ion-color-grey-low-contrast);
    border-radius: 12px;
}

.toggle-container {
    padding: 10px;
}

.button-container {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.version-container {
    margin: 15px;
    color: var(--ion-color-grey-high-contrast);
}

ion-button {
    --border-radius: 20px;
}