<app-header [pageTitle]="'Options'" [showBackButton]="false"/>

<ion-content [fullscreen]="true">
  <div class="options-container">

    <div class="toggle-container">
      <ion-toggle [(ngModel)]="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">Mode sombre</ion-toggle>
    </div>

    <div class="button-container">
      <ion-button (click)="clearProgress()">Effacer ma progression pour cette filière</ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="clearOtherProgress()">Effacer ma progression pour les autres filières</ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="clearAllProgress()">Effacer toute ma progression</ion-button>
    </div>

    <div class="button-container">
      <ion-button (click)="goToFAQ()">FAQ</ion-button>
    </div>

    <div class="version-container">
      Qmax, version {{version}}
    </div>

  </div>
</ion-content>

<app-navbar/>