<app-header 
  [pageTitle]="'Choix du chapitre'"
  [showBackButton]="true">
</app-header>


<ion-content [fullscreen]="true">

  <p>
    Domaine : {{domain}}
  </p>

  <ion-list>
    @for(chapter of chapters; track $index) {
      @if(chapter.isRelevant) {
        <ion-item>
          <ion-button (click)="goToMCQ(chapter.chapterId, chapter.name)">{{chapter.name}}</ion-button>
        </ion-item>
      }
    }
  </ion-list>

  <img [src]="domainsImageName">
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-navbar/>
  </ion-toolbar>
</ion-footer>