<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Choix du domaine</ion-title>
  </ion-toolbar>
    <!-- @if (showFadeTop) {
      <div class="fade-on-header"></div>
    } -->
</ion-header>

<ion-content [fullscreen]="true" id="pagedomains" > <!-- (ionScroll)="onScroll($event)"-->


  <!-- @if (showFadeTop) {
    <div class="scroll-fade-top"></div>
  } -->

  <p>Ma filière : {{sector}}</p>
  <p>
    <ion-button (click)="goToSectors()">Changer de filière</ion-button>
  </p>

  <ion-list id="list_domains">
    @for(domain of domains; track $index) {
      <ion-item lines="none" class="item_list_domains">
        <button class="button_list_domains" (click)="rippleEffect($event, domain); goToChapters(domain.domainId, domain.name, domain.imageName)">
          <div class="color-dot" [style.background-color]="'var(' + takeBgColor(domain.domainId) + ')'"></div>
          <label class="label-domain">{{ domain.name }}</label>
        
          @if (!isWideScreen) {
            <img class="arrow-domains" src="../../assets/fleche/fleche_droite_transparent.png" />
          }
        </button>
      </ion-item>
    }
  </ion-list>

  

  <!-- @if (showFadeBottom) {
    <div class="scroll-fade-bottom"></div>
  } -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-navbar/>
  </ion-toolbar>
    <!-- @if (showFadeBottom) {
      <div class="fade-on-footer"></div>
    } -->
</ion-footer>