<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Choix du domaine</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">domains</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>Ma filière : {{sector}}</p>

  <ion-list>
    @for(domain of domains; track $index) {
      <ion-item>
        <ion-button (click)="goToChapters(domains[$index].domainId)">{{domains[$index].name}}</ion-button>
      </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <app-navbar/>
</ion-footer>