// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --vert-qmax: #1ac822;

    // Changement du thème Ionic
    --ion-color-primary: var(--vert-qmax);
    --ion-color-primary-rgb: 26, 200, 34;
    --ion-color-primary-shade: rgb(23, 180, 30);
    --ion-color-primary-tint: rgb(48, 205, 56);

    // Polices
    --ion-font-family: 'Dosis', sans-serif;    

    // Couleurs de l'IHM
    --ion-color-grey-highest-contrast: #000000;
    --ion-color-grey-high-contrast: #646464;
    --ion-color-grey-medium-contrast: #cbcbcb;
    --ion-color-grey-low-contrast: #f1f1f1;
    --ion-color-grey-no-contrast: #ffffff;

    // Couleurs des domaines
    --ion-color-color1: #ff3b30;
    --ion-color-color1-rgb: 255, 59, 48;
    --ion-color-color1-contrast: #ffffff;
    --ion-color-color1-shade: #e6352b;
    --ion-color-color1-tint: #ff4233;

    --ion-color-color2: #ff9500;
    --ion-color-color2-rgb: 255, 149, 0;
    --ion-color-color2-contrast: #000000;
    --ion-color-color2-shade: #e58600;
    --ion-color-color2-tint: #ffab00;

    --ion-color-color3: #ffcc00;
    --ion-color-color3-rgb: 255, 204, 0;
    --ion-color-color3-contrast: #000000;
    --ion-color-color3-shade: #e5b800;
    --ion-color-color3-tint: #ffe000;

    --ion-color-color4: #4cd887;
    --ion-color-color4-rgb: 76, 216, 135;
    --ion-color-color4-contrast: #000000;
    --ion-color-color4-shade: #3dbf78;
    --ion-color-color4-tint: #59eb96;

    --ion-color-color5: #3cc0d7;
    --ion-color-color5-rgb: 60, 192, 215;
    --ion-color-color5-contrast: #000000;
    --ion-color-color5-shade: #36ace1;
    --ion-color-color5-tint: #42d3ed;

    --ion-color-color6: #007aff;
    --ion-color-color6-rgb: 0, 122, 255;
    --ion-color-color6-contrast: #ffffff;
    --ion-color-color6-shade: #006ee5;
    --ion-color-color6-tint: #0086ff;

    --ion-color-color7: #5856d6;
    --ion-color-color7-rgb: 88, 86, 214;
    --ion-color-color7-contrast: #ffffff;
    --ion-color-color7-shade: #4c4abf;
    --ion-color-color7-tint: #6462eb;

    --ion-color-color8: #a47cb7;
    --ion-color-color8-rgb: 164, 124, 183;
    --ion-color-color8-contrast: #000000;
    --ion-color-color8-shade: #9270a5;
    --ion-color-color8-tint: #b688c4;

    --ion-color-color9: #f8859a;
    --ion-color-color9-rgb: 248, 133, 154;
    --ion-color-color9-contrast: #000000;
    --ion-color-color9-shade: #df768a;
    --ion-color-color9-tint: #ffa496;

    --ion-color-color19: #b76150;
    --ion-color-color19-rgb: 183, 97, 80;
    --ion-color-color19-contrast: #ffffff;
    --ion-color-color19-shade: #a35748;
    --ion-color-color19-tint: #cc6b58;
}

// Dark mode
.ion-palette-dark {
    --ion-color-grey-no-contrast: #000000;
    --ion-color-grey-low-contrast: #545454;
    --ion-color-grey-medium-contrast: #787878;
    --ion-color-grey-high-contrast: #f1f1f1;
    --ion-color-grey-highest-contrast: #ffffff;
}